:root {
    --color-black-900: #000000;
    --color-black-800: #171717;
    --color-black-700: #141C24;
    --color-black-400: #1F2631;
    --color-white-0: #FFFFFF;
    --color-white-100: #F1F8FF;
    --color-blue-100: #00C5FF;
    --color-blue-200: #57D6FF;
    --color-blue-300: #50AFCD;
    --color-gray-500: #ABABAB;
    --color-gray-100: #EAE5E5;
    --color-gray-200: #ECECEC;
    --color-gray-300: #F1F1F1;
}
